body {
  width: 100%;
  height: 100%;
}

body .start_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .start_container h1 {
  top: 0;
  width: 100%;
  font-size: 32px;
}

body .start_container .btn-container {
  width: 100%;
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .start_container .btn-container button {
  width: 300px;
  height: 100px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #f5efc1;
  -webkit-box-shadow: 5px 5px #000;
          box-shadow: 5px 5px #000;
}

body .container_nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  display: none;
}

body #output {
  display: none;
}

body .popup_err-bg {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

body .popup_err-bg .popup {
  background-color: #fff;
  width: 250px;
  height: 120px;
}

body .popup_err-bg .popup h1 {
  font-size: 18px;
  text-align: center;
}

body .popup_err-bg .popup div {
  width: 100%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .popup_err-bg .popup div button {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #e3e3ac;
  border-radius: 50%;
}

body .popup-bg {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

body .popup-bg .popup {
  background-color: #e3e3ac;
  width: 500px;
  height: 850px;
}

body .popup-bg .popup h1 {
  font-size: 24px;
  text-align: center;
}

body .popup-bg .popup .popup-output {
  font-size: 18px;
  text-align: center;
}

body .popup-bg .popup .butn_cont {
  margin-top: auto;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .popup-bg .popup .butn_cont button {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: pink;
}

body .mask {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

body .mask .loader {
  margin: auto;
  width: 75px;
  height: 75px;
  border: 10px solid rgba(227, 227, 172, 0.6);
  border-radius: 50%;
  border-left-color: #e3e3ac;
  -webkit-animation: loader 1.3s linear infinite;
          animation: loader 1.3s linear infinite;
}

@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .modalWin-bg {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

body .modalWin-bg .modalWin {
  width: 500px;
  height: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .modalWin-bg .modalWin p {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

body .modalWin-bg .modalWin div {
  margin-top: auto;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .modalWin-bg .modalWin div button {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #e3e3ac;
  border-radius: 50%;
}

body .pagination-container {
  position: absolute;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 10px;
}

body .pagination-container #pagination {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  min-width: 1000px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .pagination-container #pagination li {
  list-style-type: none;
  width: 70px;
  height: 100px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

body .pagination-container #pagination li:hover {
  color: white;
  background-color: blue;
}

body .pagination-container #pagination .active {
  color: white;
  background-color: blue;
}

body .table thead tr th {
  cursor: pointer;
}

body .table .tbody {
  cursor: pointer;
}

body .table .tbody tr:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(201, 201, 201, 0.904);
}
/*# sourceMappingURL=style.css.map */