body{
    width: 100%;
    height: 100%;

    .start_container{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        justify-content: center;
        align-items: center;

        h1{
            top: 0;
            width: 100%;
            font-size: 32px;
        }

        .btn-container{
            width: 100%;
            min-height: 95vh;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                width: 300px;
                height: 100px;
                outline: none;
                border: none;
                border-radius: 50%;
                background-color: #f5efc1;
                box-shadow: 5px 5px #000;
            }
        }
    }

    .container_nav{
        width: 100%;
        display: flex;
        justify-content: right;
        display: none;
    }

    #output{
        display: none;
    }

    .popup_err-bg{
        position: fixed;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        overflow-y: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        .popup{
            background-color: #fff;
            width: 250px;
            height: 120px;

            h1{
                font-size: 18px;
                text-align: center;
            }

            div{
                width: 100%;
                height: 45%;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                button{
                    width: 100px;
                    height: 50px;
                    border: none;
                    outline: none;
                    background-color: #e3e3ac;
                    border-radius: 50%;
                }
            }
        }
    }

    .popup-bg{
        position: fixed;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        overflow-y: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        .popup{
            background-color: #e3e3ac;
            width: 500px;
            height: 850px;

            h1{
                font-size: 24px;
                text-align: center;
            }

            .popup-output{
                font-size: 18px;
                text-align: center;
            }


            .butn_cont{
                margin-top: auto;
                margin-bottom: 5%;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;

                button{
                    border: none;
                    width: 100px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: pink;
                }
            }
        }
    }

    .mask{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 100;
        transition: 0.6s;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .loader{
            margin: auto;
            width: 75px;
            height: 75px;
            border:10px solid rgba(227, 227, 172, 0.6);
            border-radius: 50%;
            border-left-color:#e3e3ac;
            animation: loader 1.3s linear infinite;
            }
            @keyframes loader {
            100% {
            transform: rotate(360deg);
            }
        }
      }

      .modalWin-bg{
        position: fixed;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        overflow-y: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;


        .modalWin{
            width: 500px;
            height: 100px;
            background-color: #fff;
            display: flex;
            flex-direction: column;

            p{
                font-size: 18px;
                text-align: center;
                font-weight: bold;
            }

            div{
                margin-top: auto;
                margin-bottom: 5%;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;

                button{
                    width: 100px;
                    height: 50px;
                    border: none;
                    outline: none;
                    background-color: #e3e3ac;
                    border-radius: 50%;
                }
            }
        }
      }

      .pagination-container{
          position: absolute;
          width: 100%;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 10px;
        #pagination{
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            text-align: center;
            min-width: 1000px;
            height: 150px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            li{
                list-style-type: none;
                width: 70px;
                height: 100px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                font-size: 32px;
                align-items: center;
                cursor: pointer;
                transition: all 400ms;
            }

            li:hover{
                color: white;
                background-color: blue;
            }

            .active{
                color: white;
                background-color: blue;
            }
        }
      }

      .table{
          thead{
              tr{
                  th{
                      cursor: pointer;
                  }
              }
          }
          .tbody{
              cursor: pointer;

              tr:hover{
                transition: all 0.3s;
                background-color: rgba(201, 201, 201, 0.904);
              }
          }
      }
}